:root {
    --theme: rgb(255, 255, 255);
    --accent: #0a0f72;
    --midtone: #000686;
    --background: white;
}

#indextitle{
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stuff{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wbutton{
    height: 190px;
    width: 400px;
    background-color: rgb(250, 184, 184);
    margin-bottom: 25px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 20px;

    cursor: pointer;
    
    border-width: 3px;
    border-style: solid;
    border-color: rgb(152, 2, 2);
    transition: all 0.2s ease-in-out;
}

.topbutton:hover{
    border-color: black !important;
    transition: all 0.2s ease-in-out !important;
}

/* weather pages*/
.stuffweather{
    height:80vh;
    width:90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    margin-top: 15vh;
}

.dispic{
    height: 60vh;
    width: 450px;
    background-color: rgb(250, 184, 184);
    border-color: rgb(152, 2, 2);
    border-width: 3px;
    border-style: solid;

    margin-bottom: 25px;
    margin-right: 90px;
    margin-left: 30px;
    border-radius: 20px;
}

.weathertext{
    width: 60vh;
}