:root {
    --theme: rgb(255, 255, 255);
    --accent: #0a0f72;
    --midtone: #000686;
}

<!-- schoolbell font style-->
.schoolbell-regular {
  font-family: "Schoolbell", sans-serif;
  font-weight: 400;
  font-style: normal;
}
<!-- delius font style-->
.delius-regular {
  font-family: "Delius", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  background: url("homepagepic.png") no-repeat center center fixed;

  font-family: 'Schoolbell' sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
    cursor: pointer;
    scale: 1.5;
    margin: 7px;
    margin-right: 5px;
}

.material-symbols-outlined:hover{
    scale:1.30;
}

#indextitle{
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
      font-family: "Delius", sans-serif;
 }

.stuff{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wbutton{
    height: 190px;
    width: 400px;
    background-color: rgb(250, 184, 184);
    margin-bottom: 25px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 20px;

    cursor: pointer;
    
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
}

#hbutton{
    background-image: url("tbuttonpic.png");
}

#fbutton{
    background-image: url("fibuttonpic.png");
}

#ebutton{
    background-image: url("eqbuttonpic.png");
}

#flbutton{
    background-image: url("fbuttonpic.png");
}

.wbutton:hover{
    border-color: black!important;
    transition: all 0.2s ease-in-out !important;
    scale:0.95;
}

/* weather pages*/
.stuffweather{
    height:80vh;
    width:90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    margin-top: 10vh;
}

.dispic{
    height: 75vh;
    width: 450px;
    background-color: rgb(250, 184, 184);
    border-color: rgb(152, 2, 2);
    border-width: 3px;
    border-style: solid;

    margin-bottom: 25px;
    margin-right: 90px;
    margin-left: 30px;
    border-radius: 20px;
}

.weathertext{
    width: 60vh;
}


#floodimage{
    background-image: url("Flood.jpg");
    background-size: cover;
    background-position: center;
}

#fireimage{
    background-image: url("Fire.jpg");
    background-size: cover;
    background-position: center;
}

#tornadoimage{
    background-image: url("Tornado.jpg");
    background-size: cover;
    background-position: center;
}

#eimage{
    background-image: url("earthquake.jpg");
    background-size: cover;
    background-position: center;
}

#info{
    position:absolute;
    right: 20px;
    top:10px;
}

#volume{
    position:absolute;
    right: 70px;
    top:10px;
}